page-chat {
  .has-refresher > .scroll-content {
    border: none;
  }

  .toolbar-title {
    display: flex;
    align-items: center;
    padding: 0;

    ion-avatar {
      max-width: 36px;

      img {
        border-radius: 50%;
      }
    }
  }

  ion-footer {
    ion-label {
      margin: 0 !important;
    }

    .message {
      padding: 0 !important;
    }

    .item-inner {
      border-bottom: none !important;
    }

    .footer-btn {
      font-size: x-large;
    }
  }
}
