<ion-header *ngIf="!!uid" main-header [title]="title"></ion-header>

<ion-header *ngIf="!uid">
  <ion-navbar>
    <ion-title>{{'The Terms of Use' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <b>Устав и правила клуба</b><br>
  Оглавление:<br>
  УСТАВ АвтоКлуба:<br>
  <ul class="contents">
    <li>Основные положения</li>
    <li>Положение о участие в АвтоКлубе</li>
    <li>Цели и задачи АвтоКлуба</li>
    <li>Официальные собрания АвтоКлуба</li>
    <li>Порядок прекращения участия в АвтоКлубе</li>
    <li>Прекращение деятельности АвтоКлуба</li>
    <li>Фонд АвтоКлуба</li>
  </ul>
  <br>
  ПРАВИЛА АвтоКлуба:<br>
  Общие положения<br>
  Вступление в участники АвтоКлуба<br>
  Предмет деятельности АвтоКлуба<br>
  Права новичков и участников АвтоКлуба<br>
  Обязанности новичков и участников АвтоКлуба<br>
  Символика АвтоКлуба<br>
  <br>
  УСТАВ АВТОКЛУБА.
  <br>
  Статья 1. Основные положения
  1.1 Автомобильный Клуб "iSt•SandBox", именуемый в дальнейшем АвтоКлуб, является самостоятельной организацией людей – созданной самими участниками клуба для совместного проведения досуга и общения в неформальной обстановке.<br>
  1.2 АвтоКлуб создан в г. Бишкек, который не является юридическим лицом, поэтому не может выступать истцом и ответчиком в суде.<br>
  1.3 Государство не несет ответственности по обязательствам АвтоКлуба. АвтоКлуб не несет ответственности по обязательствам государства.<br>
  1.4 Автоклуб имеет логотип, собственную символику и другие реквизиты. Логотип, символика и иные реквизиты утверждаются Администрацией Автоклуба.<br>
  1.5 Все взаимоотношения и действия внутри АвтоКлуба строятся исключительно на добровольной основе в соответствии с данным Уставом АвтоКлуба.<br>
  1.6 АвтоКлуб не располагает собственным имуществом. Все транспортные средства, а также иные технические средства являются личным имуществом участников АвтоКлуба. Любое посягательство на личное имущество участников клуба должно рассматриваться, как нарушение имущественных прав (права собственности) граждан, закрепленных действующим законодательством КР и моральными нормами общества.<br>
  1.7 По решению Администрации АвтоКлуба в Устав могут быть внесены изменения и дополнения. Изменения и дополнения в Устав, связанные с реорганизацией руководства АвтоКлуба или порядка выборов в руководство клуба, вступают в силу после проведения очередных выборов (то есть распространяют свое действие на вновь избранный состав руководства АвтоКлуба).<br>
  1.8 АвтоКлуб создан 8 мая 2017 года и на неопределенный срок.<br>
  <br>
  Статья 2. Положение о участие в АвтоКлубе<br>
  2.1 Участие в АвтоКлубе является добровольным.<br>
  2.2 Все участники АвтоКлуба "iSt•SandBox" должны знать и соблюдать Правила АвтоКлуба.<br>
  2.3 Участником Клуба может стать любой человек любящий свой автомобиль и все связанное с ними, достигший 18 лет, посетивший официальное собрание клуба и набравший более 2/3 положительных отзывов от участников клуба. Отзывы о «новеньком» собираются администраторами при личной беседе с участниками клуба (с помощью мобильного телефона, на встречах клуба или через личные сообщения на форуме).<br>
  <br>
  Статья 3. Цели и задачи АвтоКлуба<br>
  3.1 Развитие интереса к автомобилю (в том числе к ТЮНИНГУ и СТАЙЛИНГУ) и всему что с ними связано.<br>
  3.2 Объединение автолюбителей всех 7 областей.<br>
  3.3 Повышение уровня технических знаний и водительских навыков вождения участников АвтоКлуба.<br>
  3.4 Совместное проведение культурно — досуговых мероприятий, в том числе гонках и соревнований на автомобилях.<br>
  3.5 Проведение различных акций (для участников клуба и их семей).<br>
  <br>
  Статья 4. Официальные собрания АвтоКлуба.<br>
  4.1 Официальное собрание – собрание, которое заранее обсуждается на форуме, за 3-5 дней.<br>
  4.2 Колонну ведет участник АвтоКлуба имеющий логотип и установивший флаг (при наличии Флага) на своем автомобиле. При движении колонной нельзя проскакивать на красный свет, блокировать перекрестки и вообще нарушать ПДД.<br>
  ВНИМАНИЕ, данный пункт прорабатывается.<br>
  4.3 В случае отсутствия одного из администраторов, администратор обязан возложить свои права на одного из участников АвтоКлуба.<br>
  4.4 Движение в колонне может осуществляться только по правилам движения, утвержденным администрацией АвтоКлуба.<br>
  4.5 Символику АвтоКлуба (флаги) могут использоваться только при официальных собраниях, автопробегах и соревнованиях.<br>
  <br>
  Статья 5. Порядок прекращения участия в АвтоКлубе<br>
  5.1 Участие в Клубе может быть прекращено по решению 3/4 участников АвтоКлуба принудительно в случае:<br>
  несоблюдения положений устава и правил АвтоКлуба;<br>
  недостойного поведения участника АвтоКлуба;<br>
  непосещении участником ни одного собрания АвтоКлуба в течение полугода;<br>
  использование АвтоКлуба исключительно в личных целях.<br>
  5.2 Администрация АвтоКлуба оставляет за собой право рассматривать и другие причины прекращения участия в клубе.<br>
  <br>
  Статья 6. Прекращение деятельности АвтоКлуба<br>
  6.1. Прекращение деятельности АвтоКлуба может осуществляться в виде его расформирования или реорганизации администрацией АвтоКлуба.<br>
  6.2. Порядок и сроки ликвидации устанавливает администрация АвтоКлуба.<br>
  <br>
  Статья 7. Фонд АвтоКлуба<br>
  7.1. Фонд АвтоКлуба формируется из нескольких частей:<br>
  — взносы участников АвтоКлуба;<br>
  — взносы руководителей Клуба;<br>
  — спонсорские взносы;<br>
  — пожертвования людей;<br>
  — заработанные деньги, самим АвтоКлубом.<br>
  7.2. Формируемый Фонд Клуба будет разделяться на несколько частей:<br>
  — 20% — помощь действующим участникам АвтоКлуба (эвакуатор, юридическая помощь и другая при решении участников Клуба голосованием);<br>
  — 40% — проведения мероприятий ( необходимая атрибутика и подарки);<br>
  — 10% — символика АвтоКлуба (наклейки с логотипом, флаги, стоимость печати на одежде участников Клуба и другая, если это необходимо);<br>
  — 10% — другие нужды АвтоКлуба*.<br>
  — 20% — пожертвования в различные учериждения (преимущественно в детские дома и подобным организациям)<br>
  * Если таковых нет, то деньги будут идти на пожертвования в различные учериждения (преимущественно в детские дома и подобным организациям).<br>
  Денежные средства будут храниться наличными у одного из Руководителей Клуба, для экстренных ситуаций.<br>
  <br>
  Правила АвтоКлуба.
  <br>
  Общие положения<br>
  1. Данные правила действуют среди участников Общественного Некоммерческого Объединения "iSt•SandBox" (далее — "АвтоКлуб") и регламентируют их взаимоотношения.<br>
  2. В правила АвтоКлуба могут быть внесены дополнения или изменения администрацией клуба с уведомлением об этом участников.<br>
  3. Правила вступают в силу с момента их публикации и обязательны к исполнению всеми участниками клуба.<br>
  4. Вступление в АвтоКлуб означает полное согласие с настоящими Правилами.<br>
  5. Правила вводятся для создания комфортной и конструктивной атмосферы общения и взаимодействия.<br>
  6. Воздержитесь от вступления в АвтоКлуб, если Вас не устраивают установленные Правила.<br>
  <br>
  Вступление в участники АвтоКлуба.<br>
  <br>
  1. Участник АвтоКлуба – человек признающий Правила и принимающий личное участие в деятельности АвтоКлуба, или подтвердивший намерение участвовать в жизнедеятельности АвтоКлуба.<br>
  2. Если участник АвтоКлуба имеет автомобиль, то у него на авто должен присутствовать логотип клуба.<br>
  <br>
  Предмет деятельности АвтоКлуба<br>
  <br>
  Для достижения указанных в Уставе п. 3.1 и п. 3.2 настоящего устава целей АвтоКлуб осуществляет деятельность в следующих направлениях:<br>
  свободно распространяет информацию о своей деятельности;<br>
  освещает деятельность Клуба в СМИ;<br>
  организует единую дисконтную систему (АвтоКлуб-ДИСКОНТ);<br>
  поддерживает связи с другими АвтоКлубами и организациями;<br>
  приобретает и/или изготавливает символику АвтоКлуба, сувенирную и иную продукцию, необходимую для представления АвтоКлуба;<br>
  проводит культурно-просветительские, спортивные и развлекательные мероприятия, а также принимает участие в аналогичных мероприятиях;<br>
  осуществляет другую деятельность, направленную на развитие АвтоКлуба.<br>
  Единая дисконтная система «АвтоКлуб-ДИСКОНТ» – проект АвтоКлуба. В рамках данного проекта, участник АвтоКлуба имеет право получить определенный размер скидок на определенный перечень товаров (работ, услуг) в соответствии с перечнем скидок, предоставленных партнерами АвтоКлуба, а так же самим АвтоКлубом.<br>
  <br>
  Права новичков и участников АвтоКлуба<br>
  Участники АвтоКлуба имеют право:<br>
  1. участвовать в управлении делами АвтоКлуба и его развитии;<br>
  2. вносить предложения и участвовать в их обсуждении по улучшению деятельности и укрепления авторитета АвтоКлуба;<br>
  3. участвовать во всех внутри и межклубных мероприятиях;<br>
  4. на владение Клубной Картой, предоставляющей скидки согласно Едино-действующим скидкам;<br>
  5. на получение атрибутики Клуба;<br>
  6. на проезд на клубные и межклубные мероприятия в колонне АвтоКлуба;<br>
  7. добровольно выйти из участников АвтоКлуба.<br>
  8. новичок — лицо, разделяющее идеи клуба, участвующее в общении на посещающей встрече АвтоКлуба.<br>
  8.1 Новички имеют право:<br>
  участвовать во всех внутри- и межклубных мероприятиях с предварительного согласия и/или приглашения любого из членов АвтоКлуба;<br>
  получать техническую информацию, а также информацию о деятельности АвтоКлуба, размещенную в открытом доступе на сайте АвтоКлуба.<br>
  Обязанности Новичков и Членов АвтоКлуба<br>
  Новички и участники АвтоКлуба обязаны:<br>
  1. знать и соблюдать правила АвтоКлуба;<br>
  2. соблюдать законы КР, в том числе и ПДД;<br>
  3. быть образцом примерного водителя и человека;<br>
  4. уважительно относиться к другим участников АвтоКлуба;<br>
  Участники АвтоКлуба обязаны:<br>
  1. бережно относиться к символике АвтоКлуба;<br>
  2. принимать, по возможности, участие в клубных мероприятиях;<br>
  3. оказывать помощь другим участникам АвтоКлуба, по возможности;<br>
  4. не наносить ущерб АвтоКлубу в любой форме.<br>
  <br>
  Символика АвтоКлуба.<br>
  1. символикой АвтоКлуба является наклейка, клубная карта (ДИСКОНТ), флаг, а так же другие предметы с нанесенным на них логотипом АвтоКлуба.<br>
  2. наклейка и клубная карта (ДИСКОНТ) является частной собственностью члена АвтоКлуба.<br>
  3. наклейки изготавливает администрация АвтоКлуба, а также выдаются только Участникам АвтоКлуба, выдается за счет фонда АвтоКлуба или за счет собственных средств участника, при вступлении в Участники АвтоКлуба, (наклейка должна быть наклеена на видное место машины для опознавания другими Участниками АвтоКлуба). При утере выдается по согласованию с руководителем. Руководители принемают решение о изготовлении логотипа для участника за счет фонда АвтоКлуба или за счет собственных средств участника.<br>
  4. клубные карты (ДИСКОНТ) изготавливает администрация АвтоКлуба, запрещена для передачи третьим лицам, действительна при предъявлении в компаниях-партнерах АвтоКлуба.<br>
  Участник АвтоКлуба должен незамедлительно сообщать в администрацию АвтоКлуба об утере клубной карты, наклейки и флажка.
</ion-content>
