<ng-container *ngIf="entities else loading">
  <ng-container *ngIf="entities.length else noItems">
    <ng-container *ngFor="let idea of entities; trackBy: trackByFn">
      <idea-item [idea]="idea"></idea-item>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #loading>
  <loading></loading>
</ng-template>

<ng-container [ngSwitch]="loadMoreState">
  <ng-container *ngSwitchCase="loadMoreStates.AWAITING || loadMoreStates.LOADING">
    <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadMore())">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
</ng-container>

<ng-template #noItems>
  <no-items icon="bulb" message="Empty"></no-items>
</ng-template>
