last-reply {
  ion-label {
    display: flex;
    align-items: center;
    margin: 0 !important;
  }
  ion-avatar {
    align-self: center;
    min-height: 24px !important;
    min-width: 24px !important;
    img {
      width: 24px !important;
      height: 24px !important;
    }
  }
  loading .container ion-spinner {
    height: 30px;
  }
}
