text-area-input {
  width: 100%;

  ion-textarea {
    min-height: 100px;

    textarea {
      resize: vertical !important;
      min-height: 150px;
      margin: {
        left: 0 !important;
        right: 0 !important;
      };
    }
  }
}
