[main-header] {
  #notification-button {
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
  }

  #notifications-badge {
    position: absolute;
    top: -3px;
    right: -3px;
  }

  .notice-icon {
    position: absolute;
    background-color: #fff;
    border: 4px solid #f53d3d;
    top: 0;
    right: 0;
    padding: 3px;
    border-radius: 100%;
  }
}
